header.menu-container {
    height: 70px;
    width: 100%;
    box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.247);
    display: grid;
    grid-template-columns: 1.6fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0px;
    position: absolute;
    top : 0;
    right: 0;
    position: fixed;
    z-index: 4;
}
header.menu-container > nav > ul {
    display: flex;
    position: relative;
    height: 70px;
    align-items: flex-start;
}
header.menu-container > nav > ul > li {
    list-style: none;
    flex : 1;
    display: flex;
    height: 100%;
}
header.menu-container > nav > ul > li > p {
    text-align: center;
    align-self: center;
    flex: 1;
    color: white;
    font-weight: bolder;
    font-size: 1.8em;
}
header.menu-container img {
    width: 100px;
}
header.menu-container form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
header.menu-container form input {
    height: 30px;
    width: 200px;
    font-weight: bolder;
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.233);
}
header.menu-container form button {
    height: 30px;
    width : 30px;
    background: white;
    border: 0;
    cursor: pointer;
}

.red{
    background : rgb(255, 0, 0);
}
.blue{
    background: rgba(8, 4, 238, 0.842);
}
.purple{
    background: purple;
}
.escuro{
    background: rgb(15, 145, 106);
}
header.claro {
    background: rgb(16, 202, 146);
}

header.hidden-menu{
    animation: hiddenAnimate .4s;
    background: rgb(16, 202, 146);
    opacity: 0;
}
header.show-menu{
    animation: showAnimation .4s;
    opacity: 1;
}

@keyframes hiddenAnimate {
    0% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(0, -25px, 0);
    }
    75% {
        transform: translate3d(0, -75px, 0);
        opacity: .7;
    }
    100%{
        transform: translate3d(0, -100px, 0);
        opacity: .3;
    }
}
@keyframes showAnimation {
    0% {
        transform: translate3d(0, -100px, 0);
        opacity: .2;
    }
    50% {
        transform: translate3d(0, 0, 0);
        opacity: .8;
    }
    75% {
        opacity: .9;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}