@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

header.menu-interativo > nav > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: transparent;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
}
header.menu-interativo {
    background: transparent;
    position: absolute;
    top : 0;
    right: 0;
    position: fixed;
    z-index: 4;
}
header.menu-interativo > nav > ul > li.menu {
    list-style-type: none;
    color: white;
    margin: 80px 60px;
    margin-bottom: 10px;
    font-size: 2em;
    background: rgba(0, 250, 175, 0.863);
    border: 10px solid rgb(15, 145, 106);
    border-radius : 35%;
    padding: 10px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.322); 
}
header.menu-interativo > nav > ul > li.menu:hover {
    background : rgba(0, 250, 175, 0.863);
    animation: rotate 1s;
}

header.menu-interativo > nav > ul > li.items {
    background: rgba(0, 250, 175, 0.438);
    font-size: 1.5em;
    color: white;
    list-style-type: none;
    right: 180px;
    top: 110px;
    position: absolute;
    padding: 10px 20px;
    font-family:'Poppins', sans-serif;
    border: 1px solid rgba(39, 253, 189, 0.788);
    cursor: pointer;
    display: none;
    box-shadow: 0 0 14px 0px rgba(0, 0, 0, 0.363);
    transition: .5s;
}
header.menu-interativo > nav > ul > li.items:hover:before {
    opacity: 1;
}
header.menu-interativo > nav > ul > li.items:hover {
    transform: scale(1.4);
    z-index: 5;
    background: green;
}
header.menu-interativo > nav > ul > li.close:hover {
    transform: scale(1.4);
    z-index: 5;
    background: red;
    right: 40px;
}

header.menu-interativo > nav > ul > li.first{
    top: 40px;
    right: 200px;
    
}
header.menu-interativo > nav > ul > li.last{
    right: 80px;
    top : 180px;
}
header.menu-interativo > nav > ul > li.close{
    right: -10px;
    top : 200px;
    background: rgba(255, 0, 0, 0.445);
    border: 1px solid rgb(253, 39, 39);
    transform: rotate(270deg);
}
header.menu-interativo > nav > ul > li:before{
    content: attr(data-text);
    position: absolute;
    top: 40px;
    right: 0px;
    font-size: 4em;
    color: rgba(128, 128, 128, 0.616);
    transform: translate(-50%, -50%);
    opacity: 0;
}

@keyframes third {
    0% {
        top : 100px;
        right: 20px;
        width: 50px;
        height: 50px;
        background: white;
        border-radius: 50%;
        box-shadow: 0 0 100px 10px purple;
    }
    50% {
        right: 100px;
        top : 180px;
    }
}

@keyframes second {
    0% {
        top : 100px;
        right: 20px;
        width: 50px;
        height: 50px;
        background: white;
        border-radius: 50%;
        box-shadow: 0 0 100px 10px orange;
    }
    50% {
        right: 200px;
        top: 110px;
    }
}

@keyframes first {
    0% {
        top : 100px;
        right: 20px;
        width: 50px;
        height: 50px;
        background: white;
        border-radius: 50%;
        box-shadow: 0 0 100px 10px greenyellow;
    }
    50% {
        top: 40px;
        right: 220px;
    }
}

@keyframes close {
    0% {
        top : 100px;
        right: 20px;
        width: 50px;
        height: 50px;
        background: white;
        border-radius: 50%;
        box-shadow: 0 0 100px 10px red;
    }
    50% {
        right: -10px;
        top : 200px;
    }
}

@keyframes third-return {
    0% {
        right: 80px;
        top : 180px;
    }
    50% {
        top : 100px;
        right: 20px;
        width: 50px;
        height: 50px;
        background: white;
        border-radius: 50%;
    }
}

@keyframes second-return {
    0% {
        right: 180px;
        top: 110px;
    }
    50% {
        top : 100px;
        right: 20px;
        width: 50px;
        height: 50px;
        background: white;
        border-radius: 50%;
    }
}

@keyframes first-return {
    0% {
        top: 40px;
        right: 200px;
    }
    50% {
        top : 100px;
        right: 20px;
        width: 50px;
        height: 50px;
        background: white;
        border-radius: 50%;
    }
}

@keyframes close-return {
    0% {
        right: -10px;
        top : 200px;
    }
    50% {
        top : 100px;
        right: 20px;
        width: 50px;
        height: 50px;
        background: white;
        border-radius: 50%;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        color: red;
        box-shadow: 0 0 40px 0 red; 
    }
    25% {
        transform: rotate(90deg);
        color: purple;
        box-shadow: 0 0 40px 0 purple; 
    }
    50% {
        transform: rotate(360deg);
        border-radius: 50%;
        color: orange;
        box-shadow: 0 0 50px 0 orange; 
    }
    75% {
        transform: rotate(90deg);
        color: gold;
        box-shadow: 0 0 60px 0 gold; 
    }
    100% {
        transform : rotate(0deg);
        color: greenyellow;
        box-shadow: 0 0 70px 0 greenyellow; 
    }

}